.idea/
/main.py
/sound_code.py
!/.venv/
/Полезные ссылки/где искать модели.url
/Полезные ссылки/Хороший репо.url
1_ Открытие_практикума_MIFIDS_1_й_семестр_Декарь_2025.pdf
2_ Проектный_практикум_МИФИ_2025.pdf
08_ Project_1_semester/